<main>
    <div class=" mainn">
        <div class="row">
            <div class=" col-12 col-lg-6">
                <div class="text ps-lg-5 ms-lg-5 ms-3 p-4 ">
                    <h2>Everything You need to open a succesfull Ecommerce Store</h2>
                    <p class="py-3">Lorem ipsum dolor sit amet consectetur, adipisicing elituyu. Unde, natus.<br> Lorem
                        ipsum dolor sit.
                    </p>
                    <button class="btn btn-outline-success " type="submit">Start for free</button>
                </div>
            </div>
            <div class=" col-12 col-lg-6">
                <div class="image ms-5">
                    <img src="./Images/banner.svg" alt="">
                </div>
            </div>
        </div>
    </div>

</main>
<!-- Car_Logo -->
<section>
    <div class="car_logo">
        <div class="container my-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="car_logo_text">
                        <h1 class="mb-3">Lorem ipsum dolor sit lorem amet consectetur.</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, atque non culpa quas nulla
                            modi? Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi a nesciunt vero facere sunt.
                            Numquam. Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eligendi et dicta
                            accusamus, reprehenderit odio?Lorem, ipsum dolor.</p>
                    </div>
                </div>
                <!-- Car logo text end -->
                <!-- car-logo image -->
                <div class="col-12 col-lg-6">
                    <div class="container">
                        <div class="car_logo_image">

                            <!-- car-logo image line 1 start -->

                            <div class="car_logo_image_line1 my-3 ">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <img src="./Images/scamia_logo.svg" alt="">
                                    </div>
                                    <div class="col-12 col-lg-6 d-flex justify-content-end">
                                        <img src="./Images/volvo_logo.svg" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- car-logo image line 1 end -->
                            <!-- car-logo image line 2 start -->
                            <div class="car_logo_image_line2 my-5 d-flex justify-content-center">

                                <div class="row">
                                    <div class="col-12 col-lg-12">
                                        <img src="man_logo.svg" alt="">
                                    </div>
                                </div>

                            </div> <!-- car-logo image line 2 end -->

                            <!-- car logo image line 3 start -->

                            <div class="car_logo_image_line3 my-3 ">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <img src="./Images/volvo_logo.svg" alt="">
                                    </div>
                                    <div class="col-12 col-lg-6 d-flex justify-content-end">
                                        <img src="./Images/scamia_logo.svg" alt="">
                                    </div>
                                </div>
                            </div>

                            <!-- car logo image line 3 end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- car Services Section start -->
<section>
    <div class="car_service">
        <div class="container">
            <div class="text-center">
                <h1>Welcome to you in our showroom</h1>
                <p class=" mb-0">Lorem ipsum, dolor sit amet consectetur lorem ipsum</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="box-model">
                        <div class="row">
                            <div class="col-8">
                                <div class="text d-flex justify-content-center align-items-start , ps-lg-5 ps-3 h-100">
                                    <h2> Change Your Wheels</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque earum doloremque
                                        velit?</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="image p-lg-0 pr-3rem"><img src="./Images/car_wheels.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="box_1">
                    </div>
                </div>
                <!-- box 2 service-->
                <div class="col-12 col-lg-6 mb-3">
                    <div class="box-model">
                        <div class="row">
                            <div class="col-8">
                                <div class="text d-flex justify-content-center align-items-start , ps-lg-5 ps-3 h-100">
                                    <h2> Change Your Wheels</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque earum doloremque
                                        velit?</p>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="image"><img src="./Images/car_wheels.png" alt=""></div>
                            </div>

                        </div>
                    </div>

                    <div class="box_1">
                    </div>
                </div>

                <!-- box 3 start service -->
                <div class="col-12 col-lg-6 mb-3">

                    <div class="box-model">
                        <div class="row">

                            <div class="col-8">
                                <div class="text d-flex justify-content-center align-items-start , ps-lg-5 ps-3 h-100">
                                    <h2> Change Your Wheels</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque earum doloremque
                                        velit?</p>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="image"><img src="./Images/car_wheels.png" alt=""></div>
                            </div>

                        </div>
                    </div>

                    <div class="box_1">
                    </div>
                </div>

                <!-- box4 start service -->

                <div class="col-12 col-lg-6 mb-3">

                    <div class="box-model">
                        <div class="row">

                            <div class="col-8">
                                <div class="text d-flex justify-content-center align-items-start , ps-lg-5 ps-3 h-100">
                                    <h2> Change Your Wheels</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque earum doloremque
                                        velit?</p>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="image"><img src="./Images/car_wheels.png" alt=""></div>
                            </div>

                        </div>
                    </div>

                    <div class="box_1">
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>

<!-- Meeting section start -->
<section>
    <div class="meeting_section">
        <div class="container my-5">
            <!-- meeting section 1-->
            <div class="row">
                <div class="col-lg-6 col-12 d-flex align-items-center  ">
                    <div class="meeting_text pe-5">
                        <h3 class="my-4">Build the right team to scale</h3>
                        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius corporis
                            similique? Voluptates ex maiores lorem vitae modi quas neque suscipit consequuntur?</p>
                        <p class="my-4">Lorem ipsum <span id="highlight_text"> lorem ipsum</span> dolor sit, amet
                            consectetur adipisicing elit. Explicabo animi rerum </p>

                        <div class="text_gradient d-flex">
                            <div class="line_gradient"></div>
                            <div class="italic_gradient px-3 pe-5 "> <i>"Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Eaque fuga odit deleniti.
                                    Lorem ipsum dolor sit amet, elit. Eaque fuga odit illo deleniti.lore"</i></div>
                        </div>
                        <div class="my-4"><img src="./Images/ceo_image.svg" alt=""></div>
                    </div>
                </div>

                <div class="col-lg-6 col-12 object-fit-cover">
                    <div class="sun_logo"></div>
                    <img src="./Images/meeting1.svg" alt="" height="90%" width="100%">
                    <div class="d-flex justify-content-center">
                        <div class="violet_circle "></div>
                    </div>
                </div>
            </div>
            <!-- meeting section 2-->
            <div class="row">
                <div class="col-lg-6 col-12 object-fit-cover">
                    <div class="sun_logo"></div>
                    <img src="./Images/meeting2.svg" alt="" height="90%" width="100%">
                    <div class="d-flex justify-content-center ">
                        <div class="violet_circle "></div>
                    </div>

                </div>
                <div class="col-lg-6 col-12 d-flex align-items-center  ">
                    <div class="meeting_text px-5">
                        <h3 class="my-4">Build the right team to scale</h3>
                        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing Cum eius corporis similique?
                            Voluptates ex neque suscipit consequuntur?</p>
                        <p class="my-4">Lorem ipsum <span id="highlight_text"> lorem ipsum</span> dolor sit, amet
                            consectetur adipisicing elit. Explicabo animi rerum </p>
                        <div class="text_gradient d-flex">
                            <div class="line_gradient"></div>
                            <div class="italic_gradient px-3 "> <i>"Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit. Eaque fuga
                                    Lorem ipsum dolor sit amet, fuga odit illo deleniti.lore"</i></div>
                        </div>
                        <div class="my-4"><img src="./Images/ceo_image.svg" alt=""></div>
                    </div>
                </div>
            </div>
            <!-- meeting section 3rd -->
            <div class="row">
                <div class="col-lg-6 col-12 d-flex align-items-center  ">
                    <div class="meeting_text pe-5">
                        <h3 class="my-4">Build the right team to scale</h3>
                        <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eius corporis
                            similique? Voluptates ex maiores lorem vitae modi quas neque suscipit consequuntur?</p>
                        <p class="my-4">Lorem ipsum <span id="highlight_text"> lorem ipsum</span> dolor sit, amet
                            consectetur adipisicing elit. Explicabo animi rerum </p>
                        <div class="text_gradient d-flex">
                            <div class="line_gradient"></div>
                            <div class="italic_gradient px-3 me-5"> <i>"Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Eaque odit illo deleniti.
                                    Lorem ipsum dolor sit amet, fuga odit illo deleniti.lore"</i></div>
                        </div>
                        <div class="my-4"><img src="./Images/ceo_image.svg" alt=""></div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 object-fit-cover">
                    <div class="sun_logo"></div>
                    <img src="./Images/meeting3.svg" alt="" height="90%" width="100%">
                    <div class="d-flex justify-content-center">
                        <div class="violet_circle "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Location-page start-->
<section>
    <div class="location_page">
        <div class="container_fluid ">
            <div class="row">
                <div class="col-12 col-lg-6 d-flex align-items-center px-5">
                    <div class="location_text ms-lg-5 me-lg-5">
                        <h1 class="mb-3">Welcome</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, atque non culpa quas nulla
                            modi? Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi a nesciunt vero facere sunt.
                            Numquam. Lorem, ipsum dolor.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus eligendi et dicta
                            accusamus, reprehenderit odio?Lorem, ipsum dolor.</p>
                    </div>
                </div>

                <div class="col-12 col-lg-6">

                    <div class="location_image object-fit-cover"><img src="./Images/location_image.svg" alt=""
                            height="100%" width="100%"></div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- Engineering Page Start -->
<section>
    <div>

        <div class="engineer_bgimage">
            <div class="container d-flex justify-content-end align-items-center ">
                <div class="message_box px-5 py-4  d-flex flex-column">
                    <h2>Message Me </h2>
                    <p>Lorem ipsum dolor, sit amet consectetur elit. Sint laboriosam rerum ratione eligendi earum neque!
                    </p>

                    <input type="text" placeholder="Contact No" class="my-3 px-4">
                    <input type="text" placeholder="Write your Query" class="my-3 px-4">
                    <button type="button" class="btn btn-primary btn-lg my-3">Large button</button>

                </div>
            </div>
        </div>

    </div>

</section>

<!-- Blue Background start -->

<section>

    <div class="blue_background ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <h2>Professional Web Design</h2>
                    <p>Hi! I am Rajat consectetur adipisicing elit. Rem quasi reprehenderit ex, tempore assumenda
                        ducimus, veritatis! Consectetur dolorum aspernatur cupiditate hic similique.</p>
                    <button type="button" class="btn btn-secondary btn-lg mt-3">Get Started</button>
                </div>
                <div class="col-lg-6">
                    <img src="./Images/Yoyo.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>