
// main
$button_color:#32D74B;
$button_text_color:white;
$main_text_color:#9A9EA5;
$orange_box:#ff9500;


// blue background sass

$blue_bg_color:#0a84ff;
$black_color:black;

// Service
$services_box_bg:#68686a;

// car logo

$car_logo_text:#797979;

// location page

$location_bg_color:#f4f4f4;

