<!-- <footer class="container-fluid bg-black text-white">
    <div class="container ">
    <div class="row pt-4 justify-content-between">
       
            <div class="col-lg-3 col-6">
                <img src="./Images/logo_white.svg" alt="">
                <p class="pt-4">Lorem ipsum dolor sit amet consectetur
                     lorem <br> Doloribus, impedit?</p>
                    
            </div>
            <div class="col-lg-3 col-6">
                <b>Use Cases</b> 
                <p class="mt-4">Web Designer</p>
                <p>Marketer</p>
                <p>Small-Business</p>
                <p>Website-Builders</p>
                
            </div>
            <div class="col-lg-3 col-6">
               <b>Company</b>   
                <p class="mt-4">About us</p>
                <p>Careers</p>
                <p>FAQs</p>
                <p>Teams</p>
                <p>Contact Us</p>
            </div>
            <div class="col-lg-3 col-6 ">
               <b>Follow Us</b>
               <div class="icon mt-4">
               <img src="./Images/facebook.svg" alt="" class="mx-2">
               <img src="./Images/cat.svg" alt="" class="mx-2">
               <img src="./Images/github.svg" alt="" class="mx-2">
               <img src="./Images/telegram.svg" alt="" class="mx-2">
               <img src="./Images/instagram.svg" alt="" class="mx-2">
               <img src="./Images/figma.svg" alt=""class="mx-2">
               </div>
            </div>
        </div>
    </div>

</footer> -->

<footer>

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 col-6">  <!--box1-->
                <img src="./Images/logo.svg" alt="">
                <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.  atque iminima?</p>
                <img src="./Images/logo_icon.svg" alt="">
            </div>
            <div class="col-lg-2 col-6">  <!--box 2-->
                <div>
                <ul>
                <li class="mb-4"><a href=""><b>Links</b></a></li>
                <li class="my-1"><a href="">Web-Designer</a></li>
                <li class="my-1"><a href=""> Developer</a></li>
                <li class="my-1"><a href="">Machining</a></li>
                <li class="my-1"><a href="">Robotics</a></li>
                <li class="my-1"><a href="">Devops</a></li>
                <li class="my-1"><a href="">Engineering</a></li>
                <li class="my-1"><a href="">Data Analytics</a></li>
                </ul>
            </div>
            </div>

            <div class="col-lg-3 col-6">  <!--box 3-->
                <b>Contact Us</b>
                <p class="mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae, deserunt.
                    Lorem ipsum dolor sit amet.
                </p>
                <p>+91 673763473**</p>
            </div>

            <div class="col-lg-3 col-6 d-flex align-items-end ">       <!--box 4-->         
               <div class="logo_iconbg mx-2"><img src="./Images/facebook_icon.svg" alt=""></div>
               <div class="logo_iconbg mx-2"><img src="./Images/instagram_icon.svg" alt=""></div>
               <div class="logo_iconbg mx-2"><img src="./Images/twitter_icon.svg" alt=""></div>
               <div class="logo_iconbg mx-2"><img src="./Images/linkedin_icon.svg" alt=""></div>
               
         
             </div>
            </div>

        </div>
<hr class="mt-5 mx-0 mb-0">
<p class="d-flex justify-content-center p-4 "> 	&#169; Copyright by IK developers. All right reserved</p>
       
</footer>  